<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin" [fullscreen]="true">

  <h2>
    Informacion del Dispositivo
  </h2>

  <ion-col size-md="6" size-sm="12" size-xs="12">
    <ion-item>Nombre : {{info?.name}}</ion-item>
    <ion-item>Modelo : {{info?.model}}</ion-item>
    <ion-item>Plataforma : {{info?.platform}}</ion-item>
    <ion-item>Sistema Operativo : {{info?.operatingSystem}}</ion-item>
    <ion-item>Version de S.O. : {{info?.osVersion}}</ion-item>
    <ion-item>Manufacturador : {{info?.manufacturer}}</ion-item>
    <ion-item>Es virtual/simulado : {{info?.isVirtual}}</ion-item>
  </ion-col>

  <ion-col size-md="6" size-sm="12" size-xs="12">
    <ion-item>Nivel de Bateria: {{batteryInfo?.batteryLevel}}</ion-item>
    <ion-item>Lenguaje local del dispositivo: {{languageLocaleCode?.value}}</ion-item>
    <ion-item>Tag del Lenguage local: {{languageTag?.value}}</ion-item>
  </ion-col>
</ion-content>
