<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="usuarioFiltro">
    <h3>Correo: {{usuarioFiltro}}</h3>
    <h3>Fecha de creacion: {{usuarioCreacion}}</h3>
    <h3>Fecha de ultimo login: {{usuarioUltimoLogin}}</h3>
    <h3>Esta el email verificado: {{emailVerificado}}</h3>
    <h3>Es anonimo: {{esAnonimo}}</h3>
  </ion-card>
</ion-content>
