<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Confirmar Qr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-toolbar>
      <ion-card *ngFor="let i of dataQr">
        <h3>Asignatura: {{i.leccion}}</h3>
        <h3>Codigo Asignatura: {{i.asignatura}}</h3>
        <h3>Docente: {{i.docente}}</h3>
        <h3>Fecha: {{i.fecha}}</h3>
        <h3>Hora: {{i.hora}}</h3>
        <h3>Sala: {{i.sala}}</h3>
        <h3>Seccion: {{i.seccion}}</h3>
      </ion-card>

      <ion-row class="ion-justify-content-center">
        <ion-button (click)="confirmar()" expand="block" fill="clear" shape="round">
          Confirmar
        </ion-button>
  
        <ion-button (click)="close()" expand="block" fill="clear" shape="round">
          Cancelar
        </ion-button>
      </ion-row>
      
    </ion-toolbar>
</ion-content>
