<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menu Alumno</ion-title>

    <ion-button slot="end" class="ion-padding" routerLink="/login">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-item routerLink="/asistencia">
      <ion-icon name="book-outline" class="ion-padding" color="primary"></ion-icon>
      <h3>Asistencia Virtual</h3>
    </ion-item>

    <ion-item routerLink="/ayuda-alumno">
      <ion-icon name="alert-circle-outline" class="ion-padding" color="danger"></ion-icon>
      <h3>Ayuda</h3>
    </ion-item>

  </ion-list>

</ion-content>
