<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recuperación de Contraseña</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  <div class="container">
    <ion-card-content>
      <ion-input [(ngModel)]="correo" label="Correo: " labelPlacement="floating"></ion-input>
      <ion-button (click)="recuperarPassword()" color="tertiary"  shape="round"> Recuperar </ion-button>
  </ion-card-content></div>

  </ion-card>
</ion-content>
