ion-card-title{
    text-align: center;
    }
    
ion-button{
    display: flex;
    flex-direction: row;
    }
    
ion-card{
    margin-top: 100px;
    background: var(--ion-color-azul3);
    }

ion-input{
    background: var(--ion-color-azul2-tint);
}

ion-card-title{
    color: #00000f;
}

ion-content{
    --background: var(--ion-color-azul4);
}