ion-card-title{
    text-align: center;
    
    }
    
ion-button{
    display: flex;
    flex-direction: row;
    
    }
    
ion-card{
    margin-top: 100px;
    }

ion-input{
    background-color: #eeeeee;
}

ion-card-title{
    color: #00000f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}