<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menu Docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-item routerLink="/qr-asistencia">
      <ion-icon name="book-outline" class="ion-padding" color="primary"></ion-icon>
      <h3>Generar QR de Asistencia</h3>
    </ion-item>

    <ion-item routerLink="/ayuda-docente" >
      <ion-icon name="alert-circle-outline" class="ion-padding" color="danger"></ion-icon>
      <h3>Ayuda</h3>
    </ion-item>

  </ion-list>

</ion-content>
