<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title>Menu Docente</ion-title>

    <ion-button slot="end" class="ion-padding" routerLink="/login">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-item routerLink="/qr-asistencia">
      <ion-icon name="qr-code-outline" class="ion-padding"></ion-icon>
      <h3>Generar QR de Asistencia</h3>
    </ion-item>

    <ion-item routerLink="/ayuda-docente" >
      <ion-icon name="alert-circle-outline" class="ion-padding" color="danger"></ion-icon>
      <h3>Ayuda</h3>
    </ion-item>

  </ion-list>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
  
      <ion-tab-button tab="">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Cuenta</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Contacto</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
