<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menu</ion-title>

    <ion-button slot="end" class="ion-padding" routerLink="/login">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item routerLink="/asistencia">
      <ion-icon name="qr-code-outline" class="ion-padding"></ion-icon>
      <h3>Escanear QR</h3>
    </ion-item>
    <ion-item routerLink="/visualizar">
      <ion-icon name="list-outline" color="primary" i class="ion-padding"></ion-icon>
      <h3>Visualizar Asistencia</h3>
    </ion-item>
  </ion-list>
</ion-content>
