<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Formulario de Registro</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>


  <div class="container">
    <ion-card-content>
      <ion-input [(ngModel)]="nombre" label="Nombre: " labelPlacement="floating"></ion-input>

      <ion-input 
        [(ngModel)]="apellido"
        label="Apellido: "
        labelPlacement="floating"
      >
      </ion-input>

      <ion-input 
        [(ngModel)]="email"
        type="email"
        label="Email: "
        labelPlacement="floating"
      >
      </ion-input>

      <ion-input 
        [(ngModel)]="contrasena" 
        type="password" 
        label="Contraseña: "
        labelPlacement="floating"
      >
      </ion-input>

      <ion-input 
        [(ngModel)]="contrasena2" 
        type="password" 
        label="Confirmar Contraseña: "
        labelPlacement="floating"
      >
      </ion-input>

      <ion-button 
        (click)="Registrarse()" 
        color="tertiary" 
        shape="round"
        class="ion-padding"
      > Registrar </ion-button>
  </ion-card-content>
</div>

  </ion-card>
</ion-content>
