<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Visualizar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card color="primary" class="ion-margin" (click)="mostrarPrev()">
    <ion-item color="primary">
      <ion-label class="ion-text-wrap">
        Asignatura: Programación de aplicaciones moviles
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        Fecha: 09/09/2023
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        Hora: 14:01
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card color="primary" class="ion-margin" (click)="mostrarPrev()">
    <ion-item color="primary">
      <ion-label class="ion-text-wrap">
        Asignatura: Calidad de Software
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        Fecha: 10/09/2023
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        Hora: 16:10
      </ion-label>
    </ion-item>
  </ion-card>
  

</ion-content>
