<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Previsualización Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="ion-padding">

    <ion-item>
      <ion-label class="ion-text-wrap">
        Asignatura: Programación de aplicaciones moviles
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        Sección: PGY4121-001D
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        Profesor: Guillermo Matias Villacura Torres 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        Fecha: 09/09/2023
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        Hora: 14:01
      </ion-label>
    </ion-item>



    <ion-button (click)="salirPrev()" expand="block" class="ion-padding">
      Ok
    </ion-button>
  </ion-card>
  


</ion-content>
