<ion-header [translucent]="true">
  <ion-toolbar color="azul2">
    <ion-title>Previsualización Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="azul5">

  <ion-card class="ion-padding" *ngFor="let item of asistencias" color="azul6">

    <ion-item color="azul8">
      <ion-label class="ion-text-wrap">
        Asignatura: {{item.asignatura}}
      </ion-label>
    </ion-item>

    <ion-item color="azul8">
      <ion-label class="ion-text-wrap">
        Sección: {{item.seccion}}
      </ion-label>
    </ion-item>

    <ion-item color="azul8">
      <ion-label class="ion-text-wrap">
        Profesor: {{item.docente}}
      </ion-label>
    </ion-item>

    <ion-item color="azul8">
      <ion-label class="ion-text-wrap">
        Fecha: {{item.fecha}}
      </ion-label>
    </ion-item>

    <ion-item color="azul8">
      <ion-label class="ion-text-wrap">
        Hora: {{item.hora}}
      </ion-label>
    </ion-item>

    <ion-item color="azul8">
      <ion-label class="ion-text-wrap">
        Lección: {{item.leccion}}
      </ion-label>
    </ion-item>

    <ion-item color="azul8">
      <ion-label class="ion-text-wrap">
        Sala: {{item.sala}}
      </ion-label>
    </ion-item>

  </ion-card>
  <ion-button (click)="salirPrev()" expand="block" class="ion-padding" color="azul9">
    Ok
  </ion-button>
  


</ion-content>
