/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// PALETA DE COLORES
$azul-9: #03045E;
$azul-8: #023E8A;
$azul-7: #0077B6;
$azul-6: #0096C7;
$azul-5: #00B4D8;
$azul-4: #48CAE4;
$azul-3: #90E0EF;
$azul-2: #ADE8F4;
$azul-1: #CAF0F8;


.card-qr {
    display: flex;
    flex-flow: column-reverse;
}

@font-face {
  font-family: titulo;
  src: url(/assets/fonts/lemonMilk.otf);
}

@font-face {
  font-family: texto;
  src: url(/assets/fonts/BebasNeue.otf);
}

@font-face {
  font-family: texto2;
  src: url(/assets/fonts/Roboto.otf);
}

// ion-card-title {
//   font-family: titulo;
//   font-size: 30px;
// }

ion-title {
  font-family: titulo;
}

h2, h1 {
  font-family: texto;
}

ion-item {
  font-family: titulo;
}

ion-card-title {
  font-family: titulo;
}

ion-card-content {
  font-family: texto2;
}

ion-button {
  font-family: texto2;
}

ion-label {
  font-family: titulo;
}